.note_viewer
{
    position: absolute;
    height: 400px;
    width: 0%;
    background-color: rgba(0, 0, 0, 0.658);
    backdrop-filter: blur(15px);
    overflow: hidden;
    max-height: 400px;
    max-width: 700px;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 50px;
    z-index: 1003;
    display: none;
}
.note_viewer ion-icon
{
position: absolute;
top: 25px;
left: 90%;
font-size: 24px;
color: #ffc;
cursor: pointer;
}
  #note_viewer_title
  {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 500px;
    color: #ffc;
    font-size: 24px;
    font-weight: 700;
    border: none;
    outline: none;
    font-family: "Calibri";
  }
  #note_viewer_title::placeholder
  {
    font-size: 15px;
    color: rgba(255, 255, 204, 0.452);
    vertical-align: middle;
  }
#guide
{
  position: absolute;
  top: 91%;
  left: 25px;
  color: rgba(240, 248, 255, 0.473);
  font-size: 15px;
  
}
  #note_viewer_content
  {
    position: absolute;
    top: 70px;
    left: 45px;
    width: 640px;
    height: 300px;
    color: #ffc;
    background: transparent;
    font-family: 'Reenie Beanie';
    resize: none;
    text-align: justify;
    font-size: 24px;
    border: none;
  outline: none;
  }
  #note_viewer_content::-webkit-scrollbar
  {
    background-color: transparent;
  }

  #note_viewer_content::placeholder
  {
    color: rgba(255, 255, 204, 0.507);
  }



  @media screen and (max-width: 767px)
{
  .note_viewer
{
    position: absolute;
    height: 450px;
    width: 0%;
    background-color: rgba(0, 0, 0, 0.658);
    backdrop-filter: blur(15px);
    overflow: hidden;
    max-height: 450px;
    max-width: 300px;
    top: 50%;
    border-radius: 0px;
    left: 45%;
    transition: 0.5s;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1003;
    display: none;
}
.note_viewer ion-icon
{
position: absolute;
top: 25px;
left: 280px;
font-size: 24px;
color: #ffc;
cursor: pointer;
}
  #note_viewer_title
  {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 150px;
    color: #ffc;
    font-size: 24px;
    font-weight: 700;
    border: none;
    outline: none;
    font-family: "Calibri";
    background-color: transparent;
  }
  #note_viewer_title::placeholder
  {
    font-size: 15px;
    color: rgba(255, 255, 204, 0.452);
    vertical-align: middle;
  }
#guide
{
  position: absolute;
  top: 85%;
  left: 85px;
  color: rgba(240, 248, 255, 0.473);
  font-size: 13px;
  
}
  #note_viewer_content
  {
    position: absolute;
    top: 70px;
    left: 45px;
    width: 210px;
    height: 300px;
    color: #ffc;
    background: transparent;
    font-family: 'Reenie Beanie';
    resize: none;
    text-align: justify;
    font-size: 24px;
    border: none;
  outline: none;
  }
  #note_viewer_content::-webkit-scrollbar
  {
    background-color: transparent;
  }

  #note_viewer_content::placeholder
  {
    color: rgba(255, 255, 204, 0.507);
  }
}
